In [1]:
using DataFrames

In [2]:
df = DataFrame(col1 = ['A', 'B', 'C', 'D'])

4×1 DataFrame
 Row │ col1
     │ Char
─────┼──────
   1 │ A
   2 │ B
   3 │ C
   4 │ D

In [3]:
df.col1

4-element Vector{Char}:
 'A': ASCII/Unicode U+0041 (category Lu: Letter, uppercase)
 'B': ASCII/Unicode U+0042 (category Lu: Letter, uppercase)
 'C': ASCII/Unicode U+0043 (category Lu: Letter, uppercase)
 'D': ASCII/Unicode U+0044 (category Lu: Letter, uppercase)

##### df[!, col] -> the vector contained in column col returned without copying; the same as df.col if col is a valid identifier.

##### df[!, cols] -> create a new DataFrame with columns cols without copying of columns; the same as select(df, cols, copycols=false).

In [28]:
df[!, [1]]

4×1 DataFrame
 Row │ col1
     │ Char
─────┼──────
   1 │ A
   2 │ B
   3 │ C
   4 │ D